/*! FakeC010n-CommentStyle.css v1.0.0 | MIT License | github.com/ayebee/FakeC010n */

/*
  OBS にて YouTube Live 配信する際に, 
  BrowserSource で 画面上に表示するチャットのスタイルをColon:風にするスタイルシートです.
 */

/*
  ## 使い方
  
  1. ソースに BrowserSource を追加
  2. 追加した BrowserSource のプロパティのURLに, YouTube Live ChatのURLを設定
  3. 同, CSS に, 当ファイルの内容をコピペ
  4. OKをクリック
  */

/* TODO: !important地獄を解消したい。 */

/* 既定の背景色とフォントの設定 */
body {
    background-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Sans CJK JP";
}

/* 背景を透明化する設定 */
yt-live-chat-renderer {
    background-color: transparent !important;
}

/* 文字サイズと行の高さの設定 */
yt-live-chat-renderer * {
    font-size: 13px !important;
    line-height: 14px !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
    overflow: initial !important;
}

/* スクロールバーを隠す設定 */
yt-live-chat-item-list-renderer #items {
    overflow: hidden !important;
}
yt-live-chat-item-list-renderer #item-scroller{
    overflow: hidden !important;
}

/* ヘッダとコメント入力欄を隠す設定 */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
    display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

/* Avatars. */
yt-img-shadow #img,
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
    width: 32px !important;
    height: 32px !important;
    border-radius: 32px !important;
    margin-right: 1rem !important;
}

/* メンバーバッジ設定 */
img.yt-live-chat-author-badge-renderer,
div #image,
svg.yt-icon {
    width: 16px !important;
    height: 16px !important;
}
yt-live-chat-text-message-renderer #author-badges {
    vertical-align: text-top !important;
}

/* タイムスタンプの設定 */
yt-live-chat-text-message-renderer #timestamp {
    display: none;
}

/* 配信者名の設定 */
yt-live-chat-text-message-renderer span#author-name[type="owner"],
yt-live-chat-text-message-renderer span#author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
    color: #fbf2c0 !important;
}
yt-live-chat-text-message-renderer span#author-name {
    background-color: transparent !important;
    padding: 2px 0 !important;
}

/* モデレータ名の設定 */
yt-live-chat-text-message-renderer span#author-name[type="moderator"],
yt-live-chat-text-message-renderer span#author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
    color: #d8e1fb !important;
}

/* メンバー登録者名の設定 */
yt-live-chat-text-message-renderer span#author-name[type="member"],
yt-live-chat-text-message-renderer span#author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
    color: #dcffee !important;
}

/* 配信者自身とモデレータにライバーのバッジを表示する */
.yt-live-chat-author-chip.owner::after,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"]::after,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"]::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='l' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:url(%23SVGID_1_);} .st1{fill:%23FFFFFF;}%3C/style%3E%3Cg id='c'%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='1.0499' y1='13.0655' x2='19.0268' y2='6.9083'%3E%3Cstop offset='0' style='stop-color:%2371BBE3'/%3E%3Cstop offset='0.8227' style='stop-color:%2392D1B5'/%3E%3C/linearGradient%3E%3Ccircle class='st0' cx='10' cy='10' r='10'/%3E%3C/g%3E%3Cpolygon id='s' class='st1' points='10.24,2.9 11.91,7.8 17,7.91 12.95,11.04 14.42,16 10.24,13.04 6.07,16 7.54,11.04 3.49,7.91 8.57,7.8 '/%3E%3C/svg%3E");
    font-size: 14px;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: -1px;
}

.yt-live-chat-author-chip.owner::after {
    top: 2px;
    margin-left: 4px;
}

yt-live-chat-text-message-renderer #image,
yt-live-chat-text-message-renderer img.style-scope.yt-live-chat-author-badge-renderer {
    display: inline-block !important;
}

/* モデレータのスパナアイコンを消す */
yt-live-chat-text-message-renderer #chip-badges,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] #image,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] #image {
    display: none !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
    color: #ddd !important;
    font-size: 12px !important;
    line-height: 14px !important;
}

/* Messages. */
yt-live-chat-text-message-renderer #message {
    display: block !important;
}

yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message *,
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
    color: #ffffff !important;
}

yt-live-chat-paid-message-renderer {
    margin: 4px 0 !important;
}

yt-live-chat-legacy-paid-message-renderer {
    background-color: #0f9d58 !important;
    margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
    text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
    display: none !important;
}

yt-live-chat-ticker-renderer {
    box-shadow: none !important;
    display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
    color: #ffffff !important;
    border-radius: 10px;
}

yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer {
    display: none !important;
}

@keyframes
anim {
    0% { opacity: 0; }
    100% { opacity: 1; transform: none;}
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
    animation: anim 200ms;
    animation-fill-mode: both;
}

yt-live-chat-text-message-renderer.style-scope.yt-live-chat-item-list-renderer {
    background: rgba(0, 0, 0, .5);
    border-radius: 12px;
    margin: .25rem;
    padding: .5rem 1rem !important;
    float: left;
    clear: both;
}

/* スパチャの設定 */
yt-live-chat-paid-message-renderer.style-scope.yt-live-chat-item-list-renderer {
    border-radius: 12px;
    margin: .25rem !important;
    padding: 0;
    float: none;
    clear: both;
}

/* スパチャを角マルにする設定 (この設定効いてない?) */
div#card.yt-live-chat-paid-message-renderer {
    border-radius: 12px !important;
}

/* スパチャの上端を丸める */
div#card.yt-live-chat-paid-message-renderer > #header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* スパチャの下端を丸める */
div#card.yt-live-chat-paid-message-renderer > #content,
yt-live-chat-paid-message-renderer[show-only-header] #header.yt-live-chat-paid-message-renderer {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

yt-live-chat-author-chip.style-scope.yt-live-chat-text-message-renderer {
    display: inline-block;
}

div#author-name,
div#purchase-amount-column.yt-live-chat-paid-message-renderer,
div#purchase-amount-column * {
    display: inline;
}

div#author-name {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
}

div#menu,
yt-img-shadow#currency-img#yt-img-shadow {
    display: none;
}

div#header-content-primary-column.yt-live-chat-paid-message-renderer {
    display: block;
}

/* スパチャの金額前後に文言追加 */
div#purchase-amount::before { content: "がスパチャ（"; }
div#purchase-amount::after  { content: "）を送りました。"; }

/* スパチャの金額の設定 */
div#purchase-amount,
div#purchase-amount::before,
div#purchase-amount::after {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
}

div#card.yt-live-chat-paid-message-renderer {
    box-shadow: none;
}

yt-live-chat-paid-message-renderer div#card.yt-live-chat-paid-message-renderer > div#header.yt-live-chat-paid-message-renderer {
    padding: .5rem 1rem;
}

/* スパチャカードのメッセージ部分の設定 */
div#card > div#content {
    padding-left: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
}

/* メッセージ中の絵文字のサイズ調整 */
#message > .emoji {
    width: 1.1em !important;
    height: 1.1em !important;
}